@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: inherit;
}

.header {
  background-color: rgb(14, 191, 38);
}

.tituloPrincipal {
  font-size: 30px;
  color: rgb(133, 13, 245);
  font-weight: bold;
  margin-left: 1rem;
}

/*logos*/
.logitoIndex {
  width: 100px;
  height: 100px;
  border: solid 4px rgb(137, 33, 145);
  border-radius: 60px;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.logitoGatis,
.logitoPerros {
  width: 100px;
  height: 100px;
  border: solid 4px rgb(137, 33, 145);
  border-radius: 60px;
  margin-left: 2rem;
}

.logoWhats {
  width: 65px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* parrafo productos*/
.productos {
  background-color: rgb(14, 191, 38);
  color: rgb(240, 213, 213);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

/*parrafos*/
.parrafoCarru {
  display: flex;
  justify-content: center;
  color: rgb(240, 213, 213);
  background-color: rgb(133, 13, 245);
  font-size: 25px;
  padding: 1rem;
}

/*parrafos h */
/*alimento seco*/
.alimentoSeco, .alimentoSeco {
  display: flex;
  justify-content: center;
  color: rgb(240, 213, 213);
  background-color: rgb(133, 13, 245);
  font-size: 25px;
  margin-bottom: 1rem;
}

.accesoriosPerros, .accesoriosGatos, .pOfertasGatis {
  display: flex;
  justify-content: center;
  color: rgb(240, 213, 213);
  background-color: rgb(133, 13, 245);
  font-size: 30px;
  padding: 1rem;
}

.parrafoFarmapet {
  display: flex;
  justify-content: center;
  background-color: rgb(133, 13, 245);
  color: rgb(240, 213, 213);
  padding: 1rem;
  font-size: 25px;
}

.pImgGatoFarma {
  font-size: 22px;
}

/*menu*/
.menuIndex {
  margin: 1rem;
  font-weight: bold;
}

/*Botones*/
/*boton de añadir carrito*/
.btnCard {
  background-color: rgb(14, 191, 38);
  color: rgb(240, 213, 213);
  border: none;
  font-size: 20px;
  border-radius: 20px;
  margin: 1rem;
  font-weight: bold;
  transition: all 1s;
}
.btnCard:hover {
  color: rgb(106, 13, 193);
  width: 250px;
  height: 30px;
}

/* boton añadir carrito con hover */
.btnMenuIniciarSesion {
  background-color: rgb(133, 13, 245);
  border: none;
  border-radius: 10px;
  color: rgb(240, 213, 213);
  font-size: 18px;
  padding: 5px;
  margin-left: 20px;
}

.btnComprar {
  background-color: rgb(133, 13, 245);
  color: rgb(240, 213, 213);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 1s;
}
.btnComprar:hover {
  color: rgb(240, 213, 213);
  background-color: rgb(14, 191, 38);
}

/*estilos a links (a)*/
.amenuBst {
  color: rgb(240, 213, 213);
  font-size: 23px;
  margin: 12px;
}

.aCategorias {
  margin: 4rem;
  font-size: 22px;
  color: rgb(240, 213, 213);
}

a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(240, 213, 213);
  gap: 3rem;
}
a:hover {
  color: rgb(133, 13, 245);
}

/*footer*/
footer {
  background: linear-gradient(rgb(6, 231, 6), rgb(52, 1, 57));
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer li {
  list-style: none;
}
footer p {
  text-transform: uppercase;
  color: bisque;
}
footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: bisque;
  text-transform: uppercase;
}

/*# sourceMappingURL=estilo.css.map */
