/*estilos a links (a)*/
.amenuBst {
    color: rgb(240, 213, 213);
    font-size: 23px;
    margin: 12px;
    
    
}

.aCategorias {
    margin: 4rem;
    font-size: 22px;
    color: rgb(240,213,213);
}

a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(240,213,213);
    gap: 3rem;

    &:hover {
        color: blueviolet;
    }
}