//estilos a links (a)
.amenuBst {
    color:$color-nombre-botones;
    font-size: 25px;
    margin: 12px;
      
}

.aCategorias {
    margin: 4rem;
    font-size: 25px;
    color:$color-nombre-botones;
}

a {
    text-decoration: none;
    font-size: 25px;
    color:$color-nombre-botones;
    gap: 3rem;
    

    &:hover {
        color:$color-fondo-boton;
       
    }
}
