    /*Botones*/
    /*boton de añadir carrito*/
    .btnCard {
        background-color:$color-fondo;
        color:$color-nombre-botones;
        border: none;
        font-size: 20px;
        border-radius: 20px;
        margin: 1rem;

        &:hover {
            color: blueviolet;
        }
    }

    /* boton añadir carrito con hover */

    .btnMenuIniciarSesion {
        background-color:$color-fondo-boton;
        border: none;
        border-radius: 10px;
        color:$color-nombre-botones;
        font-size: 18px;
        padding: 5px;
        margin-left: 20px;
    }

    .btnComprar {
        background-color:$color-fondo-boton;
        color: $color-nombre-botones;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;

        &:hover {
            color:$color-fondo-boton;
            background-color:$color-fondo;
        }
    }