.header {
    background-color: $color-fondo;
}

.tituloPrincipal {
     font-size: 25px;
    color: $color-fondo-boton;
    font-weight: bold;
    margin-left: 1rem;



}
.menuIndex {
    margin: 1rem;
    font-weight: bold;
    
}