/*logos*/
/*logito header*/
.logitoIndex{
    width: 100px;
    height: 100px;
    border: solid 4px rgb(137, 33, 145);
    border-radius: 60px;
    margin-left: 4rem;
    margin-bottom: 1rem;    
}
.logitoGatis{

    width: 100px;
    height: 100px;
    border: solid 4px rgb(137, 33, 145);
    border-radius: 60px;
    margin-left: 2rem;

      
}
.logitoPerros{

     width: 100px;
    height: 100px;
    border: solid 4px rgb(137, 33, 145);
    border-radius: 60px;
    margin-left: 2rem;
   
}

.logoWhats{
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}