/* parrafo productos*/
.productos {
    background-color:$color-fondo;
    color: rgb(240, 213, 213);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
  }
  
  /*parrafos*/
  
  .parrafoCarru {
    display: flex;
    justify-content: center;
    color:$color-nombre-botones;
    background-color:$color-fondo-boton;
    font-size: 25px;
    padding: 1rem;
  }
  
  /*parrafos h */
  /*alimento seco*/
  
  .alimentoSeco {
    display: flex;
    justify-content: center;
    color:$color-nombre-botones;
    background-color:$color-fondo-boton;
    font-size: 25px;
    margin-bottom: 1rem;
  }
  
  .alimentoHumedo {
    display: flex;
    justify-content: center;
    color:$color-nombre-botones;
    background-color:$color-fondo-boton;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .parrafoFarmapet {
    display: flex;
    justify-content: center;
    background-color: $color-fondo-boton;
    color:$color-nombre-botones;
    padding: 1rem;
    font-size: 25px;
  }
  
  .pImgGatoFarma {
    font-size: 22px;
  }
  
